<div class="row mt-5">
  <div class="col-md-9">
      <p class="lead mb-3"><b>Welcome <%= user %></b></p>
  </div>
  <a href="/users/logout" class="btn btn-primary ">Logout</a>
</div>


<div class='container'>
  <a href="/users/allGrocery" ><h3>Vie w All Grocery here</h3></a>
</div>
